<?xml version="1.0"?>

<application-server  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xmlns.oracle.com/oracleas/schema/application-server-10_1.xsd"  application-directory="../applications"
 check-for-updates="adminClientOnly"
 deployment-directory="../application-deployments"
 connector-directory="../connectors"
 schema-major-version="10" schema-minor-version="0" >
	<shared-library name="global.libraries" version="1.0" library-compatible="true">
		<code-source path="../applib"/>
	</shared-library>
	<shared-library name="global.tag.libraries" version="1.0" library-compatible="true">
		<code-source path="../../home/jsp/lib/taglib/"/>
		<code-source path="../../../j2ee/home/jsp/lib/taglib/"/>
		<code-source path="../../../lib/dsv2.jar"/>
		<import-shared-library name="oracle.xml"/>
		<import-shared-library name="oracle.jdbc"/>
		<import-shared-library name="oracle.cache"/>
		<import-shared-library name="soap"/>
	</shared-library>
	<shared-library name="oracle.persistence" version="1.0" library-compatible="true">
		<code-source path="../../../toplink/jlib/toplink-essentials.jar"/>
		<import-shared-library name="oracle.jdbc"/>
	</shared-library>
	<shared-library name="oracle.expression-evaluator" version="10.1.3.1" library-compatible="true">
		<code-source path="C:\jdevstudio10133/jlib/commons-el.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/oracle-el.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/jsp-el-api.jar"/>
	</shared-library>
	<shared-library name="adf.oracle.domain" version="10.1.3.1" library-compatible="true">
		<code-source path="C:\jdevstudio10133/BC4J/lib"/>
		<code-source path="C:\jdevstudio10133/jlib/commons-cli-1.0.jar"/>
		<code-source path="C:\jdevstudio10133/mds/lib/concurrent.jar"/>
		<code-source path="C:\jdevstudio10133/mds/lib/mdsrt.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/share.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/regexp.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/xmlef.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adfmtl.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adfui.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adf-connections.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/dc-adapters.jar"/>
		<code-source path="C:\jdevstudio10133/ord/jlib/ordim.jar"/>
		<code-source path="C:\jdevstudio10133/ord/jlib/ordhttp.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/ojmisc.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/jdev-cm.jar"/>
		<code-source path="C:\jdevstudio10133/lib/xsqlserializers.jar"/>
		<import-shared-library name="oracle.xml"/>
		<import-shared-library name="oracle.jdbc"/>
		<import-shared-library name="oracle.gdk"/>
		<import-shared-library name="oracle.cache"/>
		<import-shared-library name="oracle.dms"/>
		<import-shared-library name="oracle.sqlj"/>
		<import-shared-library name="oracle.toplink"/>
		<import-shared-library name="oracle.ws.core"/>
		<import-shared-library name="oracle.ws.client"/>
		<import-shared-library name="oracle.xml.security"/>
		<import-shared-library name="oracle.ws.security"/>
		<import-shared-library name="oracle.ws.reliability"/>
		<import-shared-library name="oracle.jwsdl"/>
		<import-shared-library name="oracle.http.client"/>
		<import-shared-library name="oracle.expression-evaluator"/>
	</shared-library>
	<shared-library name="adf.generic.domain" version="10.1.3.1" library-compatible="true">
		<code-source path="C:\jdevstudio10133/BC4J/jlib/bc4jdomgnrc.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/lib"/>
		<code-source path="C:\jdevstudio10133/jlib/commons-cli-1.0.jar"/>
		<code-source path="C:\jdevstudio10133/mds/lib/concurrent.jar"/>
		<code-source path="C:\jdevstudio10133/mds/lib/mdsrt.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/share.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/regexp.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/xmlef.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adfmtl.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adfui.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/adf-connections.jar"/>
		<code-source path="C:\jdevstudio10133/BC4J/jlib/dc-adapters.jar"/>
		<code-source path="C:\jdevstudio10133/ord/jlib/ordim.jar"/>
		<code-source path="C:\jdevstudio10133/ord/jlib/ordhttp.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/ojmisc.jar"/>
		<code-source path="C:\jdevstudio10133/jlib/jdev-cm.jar"/>
		<code-source path="C:\jdevstudio10133/lib/xsqlserializers.jar"/>
		<import-shared-library name="oracle.xml"/>
		<import-shared-library name="oracle.jdbc"/>
		<import-shared-library name="oracle.gdk"/>
		<import-shared-library name="oracle.cache"/>
		<import-shared-library name="oracle.dms"/>
		<import-shared-library name="oracle.sqlj"/>
		<import-shared-library name="oracle.toplink"/>
		<import-shared-library name="oracle.ws.core"/>
		<import-shared-library name="oracle.ws.client"/>
		<import-shared-library name="oracle.xml.security"/>
		<import-shared-library name="oracle.ws.security"/>
		<import-shared-library name="oracle.ws.reliability"/>
		<import-shared-library name="oracle.jwsdl"/>
		<import-shared-library name="oracle.http.client"/>
		<import-shared-library name="oracle.expression-evaluator"/>
	</shared-library>
	<rmi-config path="./rmi.xml" />
	<jms-config path="./jms.xml" />
	<javacache-config path="../../../javacache/admin/javacache.xml" />
	<j2ee-logging-config path="./j2ee-logging.xml" />
	<log>
		<file path="../log/server.log" />
	</log>
	<java-compiler name="javac" in-process="false" options="-J-Xmx1024m -encoding UTF8" extdirs="C:\Program Files\Java\jre6\lib\ext;C:\WINDOWS\Sun\Java\lib\ext" />
	<global-application name="default" path="application.xml" parent="system" start="true" />
	<application name="javasso" path="../../home/applications/javasso.ear" parent="default" start="false" />
	<application name="ascontrol" path="../../home/applications/ascontrol.ear" parent="system" start="true" />
	<application name="datatags" path="../../../BC4J/redist/datatags.ear" start="true" />
	<global-web-app-config path="global-web-application.xml" />
	<transaction-manager-config path="transaction-manager.xml" />
	<web-site default="true" path="./default-web-site.xml" />
	<cluster  id="81052099429028" />
</application-server>
